.res
{
	text-align: left;
	position:relative;
	display: inline-block;
	margin: 0 auto;
	background:rgba(240, 240, 240, 0.75);
	box-shadow:2px 2px 18px 0px rgba(0,0,0,0.3);
	border-radius: 2px;
	padding: 12px;
	overflow:hidden;
	max-width: 95%;
}
.res::before
{
	content:'';
	position:absolute;
	filter:blur(12px) saturate(2);
	z-index: -2;
	overflow:visible;
	animation-name:mix-before;
	animation-duration: 0.5s;
	animation-play-state:paused;
}
.res::after
{
	background-repeat:repeat;
	background-attachment:fixed;
	content:'';
	position:absolute;
	top:0;right:0;bottom:0;left:0;
	background: url(./Resources/Noise);
	filter: opacity(0.08);
	z-index: -1;
	animation-name:mix-after;
	animation-duration: 0.5s;
	animation-play-state: paused;
}
@keyframes mix-res
{
	0% { top:48px; background:rgba(240, 240, 240, 0	);box-shadow:2px 2px 18px 0px rgba(0,0,0,0);}
	100%{top:0px;  background:rgba(240, 240, 240, 0.75);box-shadow:2px 2px 18px 0px rgba(0,0,0,0.3);}
}
@keyframes mix-before
{
	0% {opacity: 0;}
	100%{opacity: 1;}
}
@keyframes mix-after
{
	0% {opacity: 0;}
	100%{opacity: 1;}
}
@keyframes mixdiv
{
	0% {opacity: 0;}
	100%{opacity: 1;}
}
@keyframes mixico
{
	0% {opacity: 0; height: 0;}
	100%{opacity: 1;height:45px;}
}
.btn
{
	font-family: 'Microsoft YaHei';
	transition:0.2s linear;
	font-size: 12px;
	padding: 4px;
	padding-left: 8px;
	padding-right: 8px;
	color: black;
	text-decoration:unset;
	background-color: #e1e1e1;
	border-color:#ADADAD ;
	border-width: 1px;
	border-style: solid;
    box-sizing: border-box;
}
/*
.btn:focus
{
	border-width: 2px;
	padding: 3px;
	padding-left: 7px;
	padding-right: 7px;
	border-color:#0078d7;
    box-sizing: border-box;
}
*/
.btn:hover
{
	border-width: 1px;
	padding: 4px;
	padding-left: 8px;
	padding-right: 8px;
	background-color:#e5f1fb ;
	border-color: #0078d7;
    box-sizing: border-box;
}
.btn:active
{
	border-width: 1px;
	padding: 4px;
	padding-left: 8px;
	padding-right: 8px;
	background-color:#cce4f7 ;
	border-color: #005499;
    box-sizing: border-box;
}
.menu
{
	color: white;
	text-decoration: unset;
	background-color: rgba(0, 0, 0, 0);
	transition: 0.125s linear;
}
.menu:hover
{
	background-color: rgba(0, 0, 0, 0.125);
}
.menu:active
{
	background-color: white;
	color: #B0D282;
}